.elementor-kit-25903 {
  --e-global-color-primary: #c2ab68;
  --e-global-color-secondary: #54595f;
  --e-global-color-text: #101010;
  --e-global-color-accent: #000000;
  --e-global-color-4783d1aa: #ffffff;
  --e-global-color-6bbd1498: #000000;
  --e-global-color-1425aa6e: #f8afa6;
  --e-global-color-429056b8: #f79489;
  --e-global-color-5132ada3: #fadcd9;
  --e-global-color-2682a0a2: #c2ab68;
  --e-global-color-7c3c0af9: #a47551;
  --e-global-color-1adbb308: #807672;
  --e-global-color-5e8461bd: #b6aca5;
  --e-global-color-19043055: #d48c70;
  --e-global-color-df0ea65: #264847;
  --e-global-color-ad1930f: #d4c7af;
  --e-global-color-4bdcf93: #3c3c3c;
  --e-global-color-2b448c5: #091d1d;
  --e-global-color-3486a08: #dec0a0;
  --e-global-color-8f1e122: #e8b4b8;
  --e-global-color-4a74939: #523a28;
  --e-global-color-5418415: #d0b49f;
  --e-global-color-6213c36: #e4d4c8;
  --e-global-color-c41cdef: #e8c6ae;
  --e-global-color-da8cb2f: #fbe7c6;
  --e-global-color-4d98a3b: #9cb2a5;
  --e-global-color-670ea17: #627268;
  --e-global-color-cdc3b8e: #003060;
  --e-global-color-875dae3: #7f9172;
  --e-global-color-69d46ee: #f2c5e0;
  --e-global-color-d86fa44: #b68d40;
  --e-global-color-2c38600: #f4ebd0;
  --e-global-color-e2bc62d: #778a35;
  --e-global-color-3ce8cc8: #c1c2ad;
  --e-global-color-d485ee1: #535e4b;
  --e-global-color-a8357c8: #b5a4a3;
  --e-global-color-94a3ffd: #e9e6e2;
  --e-global-color-1737d45: #31352e;
  --e-global-color-de5c58b: #ebebe8;
  --e-global-color-e984872: #af7066;
  --e-global-color-b33b936: #824a47;
  --e-global-color-25f2131: #ddc8c7;
  --e-global-color-69909cd: #c6dde2;
  --e-global-color-908f90f: #be9485;
  --e-global-color-cbd3119: #f2e5c7;
  --e-global-color-a4c9595: #b3b0aa;
  --e-global-color-fbd237e: #f5f5f5;
  --e-global-color-b2b1dcd: #cdc5bf;
  --e-global-color-11944a5: #064273;
  --e-global-color-7f10fd0: #76b6c4;
  --e-global-color-8b6a1bb: #ddc8c7;
  --e-global-color-174aa28: #824a47;
  --e-global-color-e430388: #eae2e0;
  --e-global-color-e798e6b: #aa847e;
  --e-global-color-16606b6: #791541;
  --e-global-color-058134e: #8f586b;
  --e-global-color-06af100: #f7f2f2;
  --e-global-color-5fc6f5a: #003366;
  --e-global-color-a7d2e3f: #003366;
  --e-global-color-b950329: #b9ab9b;
  --e-global-color-2dcdd64: #dcd3cc;
  --e-global-color-52af876: #d0b577;
  --e-global-color-2ddd8e2: #868268;
  --e-global-color-e8aa1ea: #978e81;
  --e-global-color-bc90c15: #d1c0b0;
  --e-global-color-618443b: #111f33;
  --e-global-color-dd645be: #ededed;
  --e-global-color-050de2a: #757053;
  --e-global-color-5b06b6e: #b9b4a0;
  --e-global-color-ee4812d: #ece8e8;
  --e-global-color-9351435: #a08165;
  --e-global-color-13b6cde: #560816;
  --e-global-color-cce13d5: #8d6242;
  --e-global-color-d3c811d: #c0a898;
  --e-global-color-4fb6325: #797162;
  --e-global-color-8e1e2ac: #562e18;
  --e-global-color-50086d8: #988e85;
  --e-global-color-1379e4d: #c6b3a3;
  --e-global-color-9a2cbec: #54746c;
  --e-global-color-ee1d340: #ebe4e6;
  --e-global-color-a1403df: #9f9363;
  --e-global-color-8687532: #bcb49d;
  --e-global-color-dbe8171: #2e4034;
  --e-global-color-87acba2: #6c491e;
  --e-global-color-7dbda90: #7193a9;
  --e-global-color-959ed9d: #7c7c7c;
  --e-global-color-a1a5110: #446477;
  --e-global-color-f37e2ea: #bec3c9;
  --e-global-color-ff12c59: #899eb4;
  --e-global-color-cf16daa: #f6d9be;
  --e-global-color-8ce772d: #ad9f93;
  --e-global-color-5f4215d: #213138;
  --e-global-color-99a012f: #d9d9d9;
  --e-global-color-4dad584: #654c35;
  --e-global-color-c3539b4: #5d4a46;
  --e-global-color-034bdd0: #cbc1b8;
  --e-global-color-c6490fd: #4f0311;
  --e-global-color-8bbbde5: #443a21;
  --e-global-color-a2d1ec7: #4b0411;
  --e-global-color-a09d867: #889bae;
  --e-global-color-fa6ba63: #46505d;
  --e-global-color-ccfc28c: #3f6a94;
  --e-global-color-c1a94af: #805f46;
  --e-global-color-f7438d9: #b49d91;
  --e-global-color-6c2530d: #5a4d46;
  --e-global-color-6161b21: #cab3a2;
  --e-global-color-2018484: #f5efe8;
  --e-global-color-e9ffbaf: #f5efe8;
  --e-global-color-1cea053: #56342c;
  --e-global-color-f828cd4: #878280;
  --e-global-color-24a570e: #f2f1ef;
  --e-global-color-3f785f6: #bab0b2;
  --e-global-color-94f599e: #c1bdbe;
  --e-global-color-e7b5f63: #475861;
  --e-global-color-6c8f196: #868268;
  --e-global-color-d75cf97: #978172;
  --e-global-color-8cbcb2c: #f6dcd3;
  --e-global-color-edfc83f: #f6f1ed;
  --e-global-color-b139ce4: #f6f1ed;
  --e-global-color-1fe05d0: #6d6d6d;
  --e-global-color-292415f: #897c65;
  --e-global-color-f13cd51: #cdbab6;
  --e-global-color-a1bfe45: #c1b09e;
  --e-global-color-4f9292e: #3b4036;
  --e-global-color-c6636cc: #e8e8e8fa;
  --e-global-color-65fc9e6: #d1cbc6;
  --e-global-color-cc3da06: #7193a9;
  --e-global-color-40a2a70: #b76e79;
  --e-global-color-ed18c78: #3b3a48;
  --e-global-color-7ed95de: #747a88;
  --e-global-color-dd87bc0: #ddc8c7;
  --e-global-color-9501198: #824a47;
  --e-global-color-07538be: #868268;
  --e-global-color-b6fb266: #f0e9d9;
  --e-global-color-481d1eb: #195883;
  --e-global-color-4b96f95: #162839;
  --e-global-typography-primary-font-family: "Poppins";
  --e-global-typography-primary-font-size: 30px;
  --e-global-typography-primary-font-weight: 700;
  --e-global-typography-primary-line-height: 1.3em;
  --e-global-typography-secondary-font-family: "Lato";
  --e-global-typography-secondary-font-size: 24px;
  --e-global-typography-secondary-font-weight: bold;
  --e-global-typography-text-font-family: "Lato";
  --e-global-typography-text-font-size: 18px;
  --e-global-typography-text-font-weight: normal;
  --e-global-typography-accent-font-family: "Montserrat";
  --e-global-typography-accent-font-weight: 500;
  --e-global-typography-dfd4e54-font-family: "Karla";
  --e-global-typography-dfd4e54-font-size: 1em;
  background-color: #ffffff;
  color: #000000;
  font-family: "Roboto", Sans-serif;
  font-size: 1em;
}
.elementor-kit-25903 button,
.elementor-kit-25903 input[type="button"],
.elementor-kit-25903 input[type="submit"],
.elementor-kit-25903 .elementor-button {
  background-color: #c2ab68;
  color: #ffffff;
  border-radius: 5px 5px 5px 5px;
}
.elementor-kit-25903 button:hover,
.elementor-kit-25903 button:focus,
.elementor-kit-25903 input[type="button"]:hover,
.elementor-kit-25903 input[type="button"]:focus,
.elementor-kit-25903 input[type="submit"]:hover,
.elementor-kit-25903 input[type="submit"]:focus,
.elementor-kit-25903 .elementor-button:hover,
.elementor-kit-25903 .elementor-button:focus {
  background-color: #000000;
  color: #c2ab68;
}
.elementor-kit-25903 e-page-transition {
  background-color: #ffbc7d;
}
.elementor-kit-25903 a {
  color: #000000;
}
.elementor-section.elementor-section-boxed > .elementor-container {
  max-width: 1140px;
}
.e-con {
  --container-max-width: 1140px;
}
.elementor-widget:not(:last-child) {
  margin-block-end: 20px;
}
.elementor-element {
  --widgets-spacing: 20px 20px;
  --widgets-spacing-row: 20px;
  --widgets-spacing-column: 20px;
}
h1.entry-title {
  display: var(--page-title-display);
}
@media (max-width: 1024px) {
  .elementor-kit-25903 {
    --e-global-typography-primary-font-size: 28px;
    --e-global-typography-primary-line-height: 1.3em;
    --e-global-typography-secondary-font-size: 20px;
    --e-global-typography-dfd4e54-font-size: 1.1em;
  }
  .elementor-section.elementor-section-boxed > .elementor-container {
    max-width: 1024px;
  }
  .e-con {
    --container-max-width: 1024px;
  }
}
@media (max-width: 765px) {
  .elementor-kit-25903 {
    --e-global-typography-primary-font-size: 24px;
    --e-global-typography-secondary-font-size: 18px;
    --e-global-typography-secondary-line-height: 1em;
    --e-global-typography-text-font-size: 16px;
    --e-global-typography-text-line-height: 1.4em;
    --e-global-typography-accent-font-size: 0.9rem;
    --e-global-typography-dfd4e54-font-size: 1em;
    font-size: 1rem;
    line-height: 1.4em;
  }
  .elementor-section.elementor-section-boxed > .elementor-container {
    max-width: 767px;
  }
  .e-con {
    --container-max-width: 767px;
  }
}
